/* 
********
FOOTER BOTTOM
********
*/

@use './variables' as *;
@use './mixins' as *;

.footer-bottom {
  background-color: #303030;
  text-transform: uppercase;
  font-weight: 500;
}

.footer-bottom .container {
  @include container;
  display: flex;
  justify-content: space-between;

  .footer-bottom-left {
    display: flex;
    align-items: center;
    border: 2px solid $secondary-color;
    padding: 14px;
    margin: 30px 0;
    cursor: pointer;
  }
  .footer-bottom-right {
    display: flex;
    align-items: center;
    p {
      color: $secondary-color;
      padding-right: 30px;
      font-size: 1.3rem;
    }
    .social-list {
      display: flex;
      gap: 19px;
      li {
        width: 35px;
      }
    }
  }
}