/* 
********
MAIN WELCOME
********
*/

.about-paragraph {
  padding-bottom: 20px;
  font-size: 1.3rem;
  
}

.about-paragraph:last-child {
  padding-bottom: 50px;
}

.welcome-flex {
  display: flex;
  justify-content: space-between;
  // gap: 50px;
  .about {
    width: 65%;
  }
  .about-img {
    width: 28%;
  }
  padding-bottom: 50px;
}